<label class="bold" for=""><b>Server Name</b></label>
<div>
    <input class="form-control" [(ngModel)]="serverName" type="text" />
</div>
<label class="bold "for=""><b>Server Status</b></label>
<div>
    <select class="custom-select" [(ngModel)]="selectedStatus">
        <option value="Online">Online</option>
        <option value="Offline">Offline</option>
      </select>
</div>
<button (click)="updateServer()" class="btn btn-primary">Update server</button>
<hr>
<p *ngIf="showStatus;">{{ serverData }}</p>
